<button type="button"
  class="group bg-surface-highest/30 hover:bg-surface-highest/60 focus:bg-surface-highest/60 outline-none border border-primary/15 hover:border-primary/50 focus:border-primary/50 shadow-[0_0_15px_-3px_rgba(0,0,0,0)] hover:shadow-[0_0_15px_-3px_var(--color-primary-container)] focus:shadow-[0_0_15px_-3px_var(--color-primary-container)] transition-all duration-300 py-3 rounded-xl flex items-center justify-center relative overflow-hidden w-full">
  <div
    class="absolute inset-0 bg-gradient-to-br from-primary/0 to-primary/0 group-hover:from-primary/5 group-hover:to-transparent transition-colors">
  </div>
  <span
    [class]="icon + ' w-5 h-5 text-on-surface-variant group-hover:text-primary group-focus:text-primary transition-colors relative z-10'"
    aria-hidden="true"></span>
</button>
